{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 style="width: 100%">
            {% block title %} Edit {{ user.nama }}'s Details
            {% endblock %}
        </h1>
        <form method="post" class="anotherform">
            <label for="firstname">First Name</label>
            <input type="text" name="nama"
                    value={{ user.nama }}
                    placeholder="Nama">
            </input>

            <label for="age">Usia</label>
            <input type="number" name="age"
                    value={{ user.age }}
                    placeholder="Usia">
            </input>

            <label for="role">Role</label>
            <select name="role" id="role" required>
                <option value="Member">Member</option>
                <option value="Admin">Admin</option>
            </select>

            <label for="cars">Pilih Group</label>
            <select name="group" id="group" required>
                <option value="Staffmate">Staffmate</option>
                <option value="Revo">Revo</option>
            </select>

            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}